.upload_button{
  font-size: 20px;
  color: #FFF;
  border-radius: 6px;
  padding: 22px 35px;
}

table.list_view{
 width: 1150px;
 border-collapse: separate;
 border-spacing: 0px 15px;
 margin-top: 35px;
}

table.list_view th,
table.list_view td {
 padding: 10px;
}

table.list_view th {
 background: #FF8C00;
 vertical-align: middle;
 text-align: left;
 overflow: visible;
 position: relative;
 color: #fff;
 width: 150px;
}



table.list_view th:after {
 left: 100%;
 top: 50%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
 border-color: rgba(136, 183, 213, 0);
 border-left-color: #FF8C00;
 border-width: 24px;
 margin-top: -24px;
}


/* firefox */
@-moz-document url-prefix(){
  table.list_view th::after {
   float: right;
   padding: 0;
   left: 30px;
   top: 10px;
   height: 0;
   width: 0;
   position: relative;
   pointer-events: none;
   border: 10px solid transparent;
   border-left: #295890 10px solid;
   margin-top: -10px;
  }
}


table.list_view td {
 background: #f8f8f8;
 width: 700px;
 padding-left: 20px;
}


