{% extends "base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/service_start.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/space.css' %}">
{% endblock head %}



{% block contents %}
    <h1 class="start_regist padding-t30-b20 font40">サービス登録</h1>

    <form class="input_items padding-b85 font20" action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form org_form %}
        {% bootstrap_form user_form %}
        {% bootstrap_form teacher_form %}
        <div class="g-recaptcha robot_judge" name="robot" data-callback="clearcall" data-sitekey="6LfnWkQUAAAAAJVug2O55Njh0M2jmh0pBuzWl2_t"></div>

        <input type="submit" name="button" class="start_link btn-info" value="サービス開始" disabled>
    </form>

{% endblock contents%}



{% block script %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{% static 'js/recaptcha_force.js' %}"></script>
{% endblock script %}

