{% extends "base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/top_page.css' %}?date={% now "jS F Y H:i" %}">

{% endblock head %}



{% block contents %}
   <style type="text/css">
      body {
         padding-top: 50px;
         background-image: url({% static 'images/photo1.jpg' %});
      }
   </style>


  <h1 class="phrase1" style="font-size:40px;padding-bottom:20px;">サービス登録</h1>

  <form class="phrase2" style="padding-bottom:85px;font-size:20px;" action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form org_form %}
    {% bootstrap_form user_form %}
    {% bootstrap_form teacher_form %}
    <div class="g-recaptcha robot_judge" name="robot" data-callback="clearcall" data-sitekey="6LfnWkQUAAAAAJVug2O55Njh0M2jmh0pBuzWl2_t"></div>
  
    <input type="submit" name="button" class="start_link btn-info" value="サービス開始" disabled>
  </form>

{% endblock contents%}


{% block script %}
<script src='https://www.google.com/recaptcha/api.js'></script>

<script type="text/javascript">
function clearcall(code) {
  if(code !== ""){
     $(':submit[name=button]').removeAttr("disabled");
  }
}
</script>
{% endblock script %}

