.padding-t75{
    padding-top: 75px;
}

.padding-t160{
    padding-top: 160px;
}

.padding-t10{
    padding-top: 10px;
}

.padding-b85{
    padding-bottom: 85px;
}

.margin-t50{
    margin-bottom: 50px;
}

.margin-b100{
    margin-bottom: 100px;
}

.padding-t30-b20{
    padding-top: 30px;
    padding-bottom: 20px;
}