.home_link{
  display: block;
  padding: 22px 35px;
  font-size: 22px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 150px;
  text-align: center;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.start_link{
  padding: 22px 35px;
  font-size: 25px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  border-radius: 4px;
}

.start_link[disabled]{
  opacity: .65;
}


.robot_judge{
  padding-bottom: 60px;
  padding-top: 25px;
}


.phrase1{
  font-weight: bold;
  color: #20B2AA;
  font-size: 28px;
  padding-top: 40px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.phrase2{
  padding-top: 20px;
  font-size: 18px;
  color: #444444;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.service_start{
  display: block;
  padding: 20px 20px;
  font-size: 22px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin: 0 auto;
  padding-bottom: 15px;
  width: 150px;
  text-align: center;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  margin-bottom: 100px;
}

.home_link:hover{
  background: #2060A0;

  color: #FFF;
}

.upload_button{
  font-size: 20px;
  color: #FFF;
  border-radius: 6px;
  padding: 22px 35px;
}


.title_logo{
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.status_center {
  padding-top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  width: 100vw;
  height: 100vh;
  text-align: center;
  
}


.header_bottom {
  margin-top:50px;
  position: relative;
}


.header_bottom .block_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

img.sample {
  width: 751px;
  height: 451px;
}

img.title {
  width: 430px;
  height: 318px;
}

@media screen and (max-width:479px){
  .header_bottom {
    margin-top: 50px;
    position: relative;
  }

  img.sample {
    width: 100vw;
    height: 40vh;
  }

  img.title {
    width: 80vw;
    height: 30vh;
  }
}


@media screen and (min-width:480px) and (max-width:1023px){
  .header_bottom {
    margin-top: 50px;
    position: relative;
  }

  img.sample {
    width: 80vw;
    height: 50vh;
  }

  img.title {
    width: 60vw;
    height: 40vh;
  }
}


/*トップページの動きをつけるためのcss(仮)*/
/*#animation {
  margin: 50px 0;
  font-size: 40px;
  font-weight: bold;
  color: #ff0000;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
*/

.fade-in {
 transition: opacity 0.4s;
 -moz-transition: opacity 0.4s;
 -webkit-transition: opacity 0.4s;
}

table.list_view{
 width: 800px;
 border-collapse: separate;
 border-spacing: 0px 15px;
 margin-top: 35px;
}

table.list_view th,
table.list_view td {
 padding: 10px;
}

table.list_view th {
 background: #FF8C00;
 vertical-align: middle;
 text-align: left;
 overflow: visible;
 position: relative;
 color: #fff;
 width: 150px;
}



table.list_view th:after {
 left: 100%;
 top: 50%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
 border-color: rgba(136, 183, 213, 0);
 border-left-color: #FF8C00;
 border-width: 24px;
 margin-top: -24px;
}


/* firefox */
@-moz-document url-prefix(){
  table.list_view th::after {
   float: right;
   padding: 0;
   left: 30px;
   top: 10px;
   height: 0;
   width: 0;
   position: relative;
   pointer-events: none;
   border: 10px solid transparent;
   border-left: #295890 10px solid;
   margin-top: -10px;
  }
}


table.list_view td {
 background: #f8f8f8;
 width: 360px;
 padding-left: 20px;
}


