{% extends "submission_form/base.html" %}
{% load static %}


{% block nav_master %}active{% endblock nav_master %}



{% block contents %}
 
  <div class="jumbotron" style="color:#FFF; background:url({% static 'images/header2.jpg' %}); background-size:1150px 420px;">
    <h1 class="text-center">科目一覧</h1>
  </div>

  <ol class="breadcrumb">
    <li class=""><a href="{% url 'index' %}">ホーム</a></li>
    <li class="active"><a href="#">科目一覧</a></li>
  </ol>


    <h1 class="page-header">科目一覧
      {% if request.session.is_teacher %}
        <a class="btn btn-default pull-rigth" href="{% url 'submission_form:category_create' %}">
          <span title="科目の追加" class="glyphicon glyphicon-plus"> 科目の追加</span>
        </a>
      {% endif %}
    </h1>

    <table class="table table-striped">
      <thead>
        <tr bgcolor="#000000">
          <th><font color="#FFFFF">科目名</th>
          <th><font color="#FFFFF">作成日</th>
          {% if request.session.is_teacher %}
            <th><font color="#FFFFF">操作</th>
          {% endif %}
        </tr>
      </thead>
      
      <tbody>
        {% for category in category_list %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.published_date }}</td>
            {% if request.session.is_teacher %}
              <td>
                <a href="{% url 'submission_form:category_update' pk=category.pk %}" class="btn btn-info btn-sm">更新</a>
                <a href="{% url 'submission_form:category_delete' pk=category.pk %}" class="btn btn-warning btn-sm">削除</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="text-center">
      {% include "submission_form/page.html" %}
    </div>

{% endblock %}
