{% extends "submission_form/base.html" %}
{% load static %}
{% block category_page %}active{% endblock %}
{% block contents %}
 
  <div class="jumbotron" style="color:#FFF; background:url({% static 'images/header2.jpg' %}); background-size:1150px 420px;">
    <h1 class="text-center">カテゴリ</h1>
  </div>

  <ol class="breadcrumb">
    <li class=""><a href="{% url 'index' %}">ホーム</a></li>
    <li class="active"><a href="#">カテゴリ一覧</a></li>
  </ol>


  <div class="">
    <h1 class="page-header">カテゴリ一覧</h1>

    <table class="table table-striped">
      <thead>
        <tr bgcolor="#000000">
          <th><font color="#FFFFF">カテゴリ名</th>
          <th><font color="#FFFFF">作成日</th>
          {% if is_teacher %}
            <th><font color="#FFFFF">操作</th>
          {% endif %}
        </tr>
      </thead>
      
      <tbody>
        {% for category in category_list %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.published_date }}</td>
            {% if is_teacher %}
              <td>
                <a href="{% url 'submission_form:category_update' pk=category.pk %}" class="btn btn-info btn-sm">更新</a>
                <a href="{% url 'submission_form:category_delete' pk=category.pk %}" class="btn btn-warning btn-sm">削除</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="text-center">
      {% include "submission_form/page.html" %}
    </div>

  </div>
{% endblock %}
