{% extends "submission_form/base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
  <link rel="stylesheet" href="{% static 'css/page_title.css' %}">
{% endblock head %}



{% block nav_dist %}active{% endblock nav_dist %}



{% block contents %}

  <div class="jumbotron page_title">
    <h1 class="text-center">配布一覧</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">ホーム</a></li>
    <li class="active"><a href="#">配布一覧</a></li>
  </ol>


  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h1 class="page-header text-center" style="font-size:130%;">分類毎はこちらから</h1>
      <ul style="font-size:140%;">
        {% for class in class_list %}
          <li><a href="{% url 'submission_form:dist_category' category_pk=class.id %}"> {{ class.name }}</a></li>
        {% empty %}
          <li><a href="#"></a> 分類がありません</li>
        {% endfor %}
      </ul>
    </div>

  <div class="col-xs-12 col-sm-9">
      <h1 class="page-header">配布物
        {% if request.session.is_teacher %}
          <a class="btn btn-default pull-rigth" href="{% url 'submission_form:dist_create' %}">
            <span title="New Dist" class="glyphicon glyphicon-plus"> 配布の追加</span>
          </a>
        {% endif %}
      </h1>

      <table class="table table-striped">
        <thead>
          <tr bgcolor="#000000">
            <th><font color="#FFFFF">分野</th>
            <th><font color="#FFFFF">ファイル名</th>
            <th><font color="#FFFFF">更新日</th>
            {% if request.session.is_teacher %}
                <th><font color="#FFFFF">操作</th>
            {% endif %}
          </tr>
        </thead>
        
        <tbody>

        {% for file in file_list %}
          <tr>
            <td>{{ file.classification_id.name }}</td>
            <td>{{ file.name }}</td>
            <td>{{ file.published_date }}</td>
            {% if request.session.is_teacher %}
                <td>
                  <a href="{% url 'submission_form:dist_download' pk=file.id %}" class="btn btn-info btn-sm">ダウンロード</a>
                  <a href="{% url 'submission_form:dist_delete' pk=file.id %}" class="btn btn-warning btn-sm">削除</a>
                  <label><input type="checkbox" name="check" class="checkbox_input" value="{{ file.path }}"><span class="checkbox_parts"></span><label>
                </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
      
    </table>

    <div class="text-center">
      <button id="all_download_button" class="btn btn-primary btn-sm">一括ダウンロード</button>
      {% include "submission_form/page.html" %}
    </div>
  </div>
{% endblock contents%}


{% block script %}
  <script src="{% static 'js/data-href.js' %}"></script> 
  <script src="{% static 'js/zip_download.js' %}"></script> 
{% endblock script %}
