{% extends "submission_form/base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/page_title.css' %}">
{% endblock head %}


{% block nav_master %}active{% endblock nav_master %}



{% block contents %}
  <div class="jumbotron page_title">
    <h1 class="text-center">グループ削除</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">ホーム</a></li>
    <li><a href="{% url 'submission_form:group_index' %}">グループ一覧</a></li>
    <li class="active"><a href="#">グループ削除</a></li>
  </ol>

  <form action="" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="text-center">
      <h2>グループ名:{{ group.name }}</h2>
      <button type="submit" class="btn btn-danger btn-lg">削除</button>
      <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-default btn-lg">戻る</a>
      </div>
  </form>

{% endblock %}

