{% extends "submission_form/base.html" %}
{% load static %}
{% load index %}


{% block nav_home %}active{% endblock nav_home %}


{% block contents %}
    <div class="jumbotron" style="color:#FFF; background:url({% static 'images/header2.jpg' %}); background-size:1150px 420px;">
      <h1 class="text-center">ホーム</h1>
    </div>

    <ol class="breadcrumb">
      <li class="active"><a href="#">ホーム</a></li>
    </ol>


    <div class="row">

      <div class="col-xs-12 col-sm-3">
        <h1 class="page-header text-center" style="font-size:130%;">提出はこちらから</h1>
        <ul style="font-size:140%;">
          {% for class in classification %}
            <li><a href="{% url 'submission_form:upload_form' %}?classification={{ forloop.counter }}"> {{ class.name }}</a></li>
          {% empty %}
            <li><a href="{% url 'submission_form:upload_form' %}"> 分類がありません</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-xs-12 col-sm-9">
        <h1 class="page-header">期限1週間以内の未提出課題
          {% if request.session.is_teacher %}
            <a class="btn btn-default pull-rigth" href="{% url 'submission_form:task_create' %}">
              <span title="New Task" class="glyphicon glyphicon-plus"> 課題の追加</span>
            </a>
          {% endif %}
        </h1>

        <table class="table table-hover">
          <thead>
            <tr bgcolor="#000">
              <th><font color="#FFFFF">科目</th>
              <th><font color="#FFFFF">課題名</th>
              <th><font color="#FFFFF">期限</th>
            </tr>
          </thead>
          <tbody>
            {% for task in task_list %}
              {% with status=status_list|index:forloop.counter0 %}
                {% if status == '未' %}
                  <tr data-href="{% url 'submission_form:task_detail' pk=task.pk %}" class="danger">
                    <td>{{ task.classification_id }}</td><td>{{ task.name }}</td><td>{{ task.deadline }}</td>
                  </tr>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
{% endblock contents%}


{% block script %}
    <script src="{% static 'js/data-href.js' %}"></script> 
{% endblock script %}

