{% extends "base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/top_page.css' %}?date={% now "jS F Y H:i" %}">
  <link rel="stylesheet" href="{% static 'css/scroll_down.css' %}?date={% now "jS F Y H:i" %}">
{% endblock head %}


{% block nav_index %}active{% endblock %}


{% block contents %}
  {% if not user.is_authenticated %}
  <div id="ascensor">


    <div id="main_page" class="header_bottom">
      <section id="section1">
      <!-- TODO: ログイン用のボタンを表示させる(Googleのサイトを参考に) 
      <div class="jumbotron" style="background:url({% static 'images/degi.png' %}); background-size:1150px 420px;">
        <h1 class="text-center">でじふぁーむ。</h1>
      </div>
      -->
      <div class="title_logo">
        <img src="{% static 'images/degi.png' %}" class="title" alt="でじふぁーむ。">
      </div>

      <div class="text-center" style="font-size: 18px;">
        <h2>みんなで、どこでも提出できる課題管理ツール</h2>
        <p>課題の提出が面倒...出し忘れた...何の課題があるのか忘れた...</p>
        <p><strong>でじふぁーむ。</strong>ならこれらの問題はすべて解決します。</p>
      </div>

      <div style="padding-top: 15px;"></div>
      <a class="home_link" href="{% url 'login' %}">LOGIN</a>
      </section>
    </div>


    <div id="status_page" class="header_bottom">
      <section id="section2">
      <div class="block_center" style="font-size: 18px; background: #E7EAEF;">
        <img src="{% static 'images/sample.jpg' %}" class="sample" alt="でじふぁーむ。サンプル画面">
        <h1>時間、人材、費用のすべてを削減できます</h1>
        <p>提出したいデータをネットで出せる。提出状況を一目で確認できる。手作業での管理はなくなる。</p>

        <div style="padding-top: 15px;"></div>
        <a class="home_link" href="{% url 'login' %}">サービスを始める</a>
      </div>
      </section>
    </div>


  </div>

  {% else %}

    <div class="jumbotron" style="color:#FFF; background:url({% static 'images/header2.jpg' %}); background-size:1150px 420px;">
      <h1 class="text-center">ホーム</h1>
    </div>

    <ol class="breadcrumb">
      <li class="active"><a href="#">ホーム</a></li>
    </ol>


    <div class="row">

      <div class="col-xs-12 col-sm-3">
        <h1 class="page-header text-center" style="font-size:130%;">今月の出欠率</h1>
        <ul style="font-size:140%;">
          <center>75%</center>

        <input type="text" id="colname">
        </ul>
      </div>

      <div class="col-xs-12 col-sm-9">
        <h1 class="page-header">1週間以内の提出物</h1>

        <table class="table table-striped">
          <thead>
            <tr bgcolor="#000000">
              <th><font color="#FFFFF">科目</th>
              <th><font color="#FFFFF">課題名</th>
              <th><font color="#FFFFF">期限</th>
              <th><font color="#FFFFF">状況</th></font></tr>
          </thead>
          <tbody>
            <tr class="danger"><td>Java</td><td>Javakadai011.java</td><td>2017/12/08</td><td>未</td></tr>
            <tr class="warning"><td>Java</td><td>Diary.java</td><td>2017/12/11</td><td>未</td></tr>
            <tr><td>C</td><td>ckadai03-1.c</td><td>2017/12/12</td><td>済</td></tr>
          </tbody>
        </table>
      </div>

    </div>

  {% endif %}

{% endblock contents%}


{% block script %}
  <script src="{% static 'js/Ascensor.js' %}"></script>
  <script>
    $('#ascensor').ascensor();
  </script>

  <script src="{% static 'js/scroll_down.js' %}"></script>
{% endblock script %}
