{% extends "submission_form/base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
{% endblock head %}


{% block contents %}
  <div class="jumbotron" style="color:#FFF; background:url({% static 'images/header2.jpg' %}); background-size:1150px 420px;">
    <h1 class="text-center">提出リスト</h1>
  </div>

  <ol class="breadcrumb">
    <li class=""><a href="{% url 'index' %}">ホーム</a></li>
    <li class=""><a href="{% url 'submission_form:index' %}">課題ホーム</a></li>
    <li class="active"><a href="#">提出リスト</a></li>
  </ol>


  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h1 class="page-header text-center" style="font-size:130%;">提出はこちらから</h1>
      <ul style="font-size:140%;">
        {% for class in classification %}
          <li><a href="{% url 'submission_form:upload_form' %}?classification={{ forloop.counter }}"> {{ class.name }}</a></li>
        {% empty %}
          <li><a href=""> 分類がありません</a></li>
        {% endfor %}
      </ul>
    </div>


    <div class="col-xs-12 col-sm-9">
      <h1 class="page-header">提出物</h1>

      <table class="table table-striped">
        <thead>
          <tr bgcolor="#000000">
            <th><font color="#FFFFF">科目</th>
            <th><font color="#FFFFF">ファイル名</th>
            <th><font color="#FFFFF">更新日</th>
            <th><font color="#FFFFF">操作</th>
          </tr>
        </thead>
        <tbody>
          {% for file in upload_list %}
            <tr>
              <td>{{ file.classification_id }}</td>
              <td>{{ file.name }}</td>
              <td>{{ file.published_date }}</td>
              <td>
                <a href="{% url 'submission_form:sub_download' pk=file.id %}" class="btn btn-info btn-sm">ダウンロード</a>
                <label><input type="checkbox" name="check" class="checkbox_input" value="{{ file.path }}"><span class="checkbox_parts"></span><label>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

{% endblock contents %}
